<h1>Welcome to my BP3 Code Challenge Site</h1>

<div id="1">
	<h3>Given a specific date provide the current number of open and closed tasks. The date is inclusive so if we ask for midnight Oct 12, a task opened or closed on midnight would count.</h3>
	Date:<input id="1field" type="text" name="1">
	<button id="1" onclick="solve(this.id);">Submit</button>
	<span>Answer: <span id="answer1"></span></span>
</div>

<div id="2">
	<h3>Given a specific start and end date, how many tasks were opened and how many were closed in that range. The start date is inclusive, the end date is exclusive.</h3>
	Start:<input id="2field1" type="text" name="21" />
	End:<input id="2field2" type="text" name="22" />
	<button id="2" onclick="solve(this.id);">Submit</button>
	<span>Answer: <span id="answer2"></span></span>
</div>

<div id="3">
	<h3>Given a particular instanceId, provide the name of the most recent task.</h3>
	InstanceID:<input id="3field"  type="text" name="3">
	<button id="3" onclick="solve(this.id);">Submit</button>

	<span>Answer: <span id="answer3"></span></span>
</div>

<div id="4">
	<h3>Given a particular instanceId, provide the count of tasks.</h3>
	InstanceID:<input id="4field" type="text" name="4">
	<button id="4" onclick="solve(this.id);">Submit</button>
	<span>Answer: <span id="answer4"></span></span>
</div>

<div id="5">
	<h3>Given a particular assignee, provide the count of open and closed tasks for that assignee.</h3>
	Assignee:<input id="5field" type="text" name="5">
	<button id="5" onclick="solve(this.id);">Submit</button>
	<span>Answer: <span id="answer5"></span></span>
</div>
